.dv {
  width: auto;
  height: 100pc;
  position: relative;
  left: 50%;
  background-image: url(./layout/images/bgc.png);
  background-size: contain;
  transform: translate(-50%);
  background-repeat: no-repeat;
}

.ic {
  width: 132.6px;
  height: 19px;
}

.tx {
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid rgba(0, 0, 0, 0.0);
  color: white;
  margin: 10px;
  position: relative;
  text-align: center;
  left: -5pc;
}

.bs {
  height: 35px;
  border: 1px solid;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.0);
  border-left: 1px solid rgba(0, 0, 0, 0.0);
  border-right: 1px solid rgba(0, 0, 0, 0.0);
  position: relative;
  justify-content: center;
  color: white;
  font-size: 22px;
}

.ic_2 {
  width: 16px;
  height: 15px;
  position: relative;
  top: 0.7pc;
  left: 2pc;
  background-image: url(./layout/logos/Search.png);
}

.ic_3 {
  height: 14px;
  background-image: url(./layout/images/Globe.png);
  left: 2.4pc;
}

.tx_2 {
  font-size: 16px;
  left: 2.2pc;
  top: -0.3pc;
}

.tx_3 {
  width: 380px;
  left: 12%;
  top: 4.7%;
  font-size: 50px;
  border: 1px solid;
  text-shadow: 0 0 1px black;
}

.tx_4 {
  width: 220px;
  border: 1px solid;
  left: 12%;
  padding: 5px;
  text-align: left;
  top: 4pc;
  text-shadow: 0 0 1px black;
}

.tx_5 {
  width: 110px;
  left: 12%;
  top: 3.3pc;
  border: 1px solid;
  text-shadow: 0 0 1px black;
}

.dvbos {
  width: 410px;
  height: 300px;
  position: relative;
  left: 53%;
  top: -1.5pc;
}

.dv_1 {
  width: 190px;
  height: 140px;
  position: absolute;
  left: 0.5pc;
  top: 0.5pc;
  display: inline-block;
  margin: 4px;
  font-size: 20px;
  color: white;
  background-color: rgba(53, 88, 242, 1.0);
}

.dv_2 {
  background-color: rgba(0, 238, 255, 1.0);
  left: 53%;
}

.dv_3 {
  background-color: rgb(255, 174, 0);
  top: 55%;
}

.dv_4 {
  background-color: rgba(222, 54, 7, 1.0);
  top: 55%;
  left: 53%;
}

.p_1 {
  position: relative;
  left: 0.8pc;
}

.p_3 {
  top: -1pc;
}

.p_4 {
  top: -1pc;
}

.icn_1 {
  width: 20px;
  height: 10px;
  background-size: contain;
  position: absolute;
  left: 7.5pc;
  top: 6.4pc;
  background-image: url(./layout/logos/Arrow\ 1.png);
}

.px_1 {
  text-align: center;
  padding: 2px;
  width: 90px;
  position: absolute;
  top: 5pc;
  left: 1pc;
  font-size: 14px;
}

.bd_1 {
  top: 0.5pc;
  position: relative;
  width: auto;
  height: 18pc;
  background-color: rgba(53, 88, 242, 1.0);
}

.bop {
  width: 900px;
  height: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 2pc;
  display: flex;
  justify-content: center;
}

.tx_or {
  position: relative;
  width: 15pc;
  color: white;
  text-align: center;
  font-size: 22px;
  top: -1.5pc;
}

.slk {
  position: relative;
  left: 16.9%;
  top: 1.5pc;
  font-size: 15px;
  color: rgba(255, 196, 30, 1);
}

.bnp {
  width: 850px;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.tx_mn {
  position: relative;
  top: -2.8pc;
  left: 0.4pc;
  font-size: 15px;
  width: 160px;
  color: white;
  text-shadow: 0 0 1px black;
  display: inline-block;
}

.tx_mn_2 {
  left: 5.2pc;
  top: -0.7pc;
}

.tx_mn_3 {
  top: -3.1pc;
  left: 9.3pc;
}

.tx_mn_4 {
  top: -7pc;
  left: 15.3pc;
}

.bd_ml {
  width: auto;
  height: 40pc;
  background-color: rgba(255, 196, 30, 1);
}

.a_tx {
  font-size: large;
  position: relative;
  left: 15.3pc;
  display: inline-block;
  top: 1pc;
}

.b_tx {
  display: inline-block;
  position: relative;
  left: 30pc;
  top: 1pc;
}

.sz {
  width: 250px;
  height: 1px;
  background-color: black;
  position: relative;
  left: 22pc;
  top: 1.5pc;
  display: inline-block;
}

.io {
  width: 20px;
  height: 10px;
  position: relative;
  left: 20.4pc;
  top: 1pc;
  background-image: url(./layout/logos/Arrow\ 1.png);
  display: inline-block;
}

.tl_1 {
  width: 70%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.krt_1 {
  width: 230px;
  height: 230px;
  background-image: url(./layout/images/Rectangle\ 8.png);
  background-size: contain;
  margin: 20px;
  background-repeat: no-repeat;
}

.krt_2 {
  background-image: url(./layout/images/Rectangle\ 9.png);
}

.krt_3 {
  background-image: url(./layout/images/Rectangle\ 10.png);
}

.krt_4 {
  background-image: url(./layout/images/Rectangle\ 11.png);
}

.krt_5 {
  background-image: url(./layout/images/Rectangle\ 12.png);
}

.krt_6 {
  background-image: url(./layout/images/Rectangle\ 13.png);
}

.m_xt {
  font-size: 12px;
  position: relative;
  top: 9.2pc;
}

.x_xt {
  font-size: 20px;
  top: 8pc;
  color: red;
}

.n_xt {
  top: 6.8pc;
  font-size: 14px;
}

.bd_p{
  width: auto;
  height: 33.5pc;
  background-color: white;
}

.bfbs {
  width: 1200px;
  height: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.bsb {
  position: relative;
  top: 4pc;
  left: 15%;
  width: 380px;
  height: 26pc;
}

.kri {
  width: 380px;
  height: 185px;
  position: relative;
  background-size: contain;
  background-image: url(./layout/images/ad-1.png);
}

.kri_2 {
  background-image: url(./layout/images/ad-2.png);
  top: 3pc;
}

.k_tx {
  position: relative;
  top: -22pc;
  left: 42pc;
  display: inline-block;
  font-size: 25px;
}

.d_tx {
  top: -22.2pc;
  left: 46pc;
  font-size: 17px;
}

.hrt {
  width: 20px;
  height: 10px;
  top: -22.5pc;
  left: 45pc;
  background-image: url(./layout/logos/Arrow\ 1.png);
}

.gsgs {
  width: 400px;
  height: 350px;
  position: relative;
  top: -23pc;
  left: 40pc;
}

.y_pp {
  background-size: contain;
  width: 400px;
  position: relative;
  background-repeat: no-repeat;
  left: 1pc;
  height: 100px;
  background-image: url(./layout/images/Rectangle\ 14.png);
}

.y_pp_2 {
  background-image: url(./layout/images/Rectangle\ 15.png);
}

.y_pp_3 {
  background-image: url(./layout/images/Rectangle\ 16.png);
}

.h_tx {
  position: relative;
  left: 10pc;
  top: 0.5pc;
  color: red;
}

.h_tx_2 {
  width: 250px;
  color: black;
}
.f_bd{
  width: auto;
  position: relative;
  top: 31.5pc;
  height: 33pc;
  background-color: rgba(2, 111, 244, 1.0);
}
.bsk{
  width: 25%;
  height: 200px;
  display: inline-block;
  margin: 25px;
}
.cl_bs{
  width: 650px;
  height: 450px;
  position: relative;
  left: 8%;
  top: 2.5pc;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.txx_1{
  font-size: 25px;
  color: white;
}
.txx_2{
  position: relative;
  top: -0.8pc;
  width: 100px;
  color: rgb(200, 205, 204);
}
.txx_3{
  width: 200px;
}
.slk_2{
  width: 200px;
  left: 0;
  top: -1pc;
}
.apple_1{
  width: 160px;
  height: 60px;
  border-radius: 15px;
  border: 2px solid gray;
  background-color: black;
  margin: 5px;
}
.apple_2{
  position: relative;
  width: 25px;
  top: -0.3pc;
  left: 0.6pc;
  height: 25px;
  background-image: url(./layout/logos/XMLID\ 7.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.apple_3{
  top: 0.6pc;
  left: 1.2pc;
  width: 10px;
  background-image: url(./layout/logos/XMLID\ 6.png);
}
.trx{
  font-size: 14px;
  top: -3.9pc;
  text-align: center;
  position: relative;
  color: white;
}
.trx_2{
  font-size: 22px;
  top: -5.4pc;
  left: 0.6pc;
}
.pley_1{
  width: 30px;
  position: relative;
  top: 0.5pc;
  left: 0.3pc;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://s1.iconbird.com/ico/1012/PlexIcons/w512h5121350249266play2.png);
}
.tr_1{
  top: -2.5pc;
}
.tr_2{
  top: -4pc;
}
.cl_gs{
  width: 350px;
  height: 400px;
  position: relative;
  top: -24pc;
  left: 50pc;
}
.tp_tx{
  color: white;
  font-size: 25px;
  text-align: center;
}
.vk{
  width: 40px;
  height: 40px;
  position: relative;
  left: 4pc;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./layout/logos/Vector.png);
}
.vk_2{
  background-image: url(./layout/logos/Vector\ \(1\).png);
  left: 6pc;
}
.vk_3{
  background-image: url(./layout/logos/Vector\ \(2\).png);
  left: 8pc;
}
.vk_4{
  background-image: url(./layout/logos/Vector\ \(3\).png);
  left: 9pc;
}
.vk_5{
  width: 18px;
  height: 18px;
  position: absolute;
  background-image: url(./layout/logos/Vector\ \(4\).png);
  left: 0.6pc;
  top: 0.7pc;
}
.iop{
  width: 180px;
  font-size: 18px;
  display: inline-block;
  color:white;
  position: relative;
  left: -11pc;
  top: 1.5pc;
}
.poi{
  width: 200px;
  position: absolute;
  left: -11pc;
  color: rgb(189, 188, 186);
}
.trt{
  width: 200px;
  height: 40px;
  background-color: antiquewhite;
  position: absolute;
  color: rgb(125, 127, 128);
  text-align: center;
  top: 11pc;
  left: -11pc;
}